{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">

        {% if xss %}

            {{xss | safe}}

        {% else %}
            
            <div class="col-lg-4 col-md-6 col-8 justify-content-center">
                <h1 class="text-center my-2">Give me some html</h1> 
                    <form method="GET" class="mt-4">
                        <input type="text" class="form-control mb-1 my-2" name="xss" placeholder="html">
                        <button type="submit" class="btn btn-lg btn-primary btn-block my-2">Submit</button>
                    </form>
                </div>
            </div>

        {% endif %}  

        
{% endblock %}